name: åŒæ­¥ packages

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: test
      run: |
        #get-opt install git
        #git
        echo ${{ secrets.ID_RSA }} > .id_rsa
        cat .id_rsa
        ls -al
